<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - CREDIMAR</title>
        <environment include="Development">
            <link rel="stylesheet" href="~/materialize/css/materialize.css" />
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <link rel="stylesheet" href="~/css/menu.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        </environment>
    </head>
    <body>
        <!--MENU START-->
        <!--Cuenta-->
        <ul id="dropdown_account" class="dropdown-content">
            <li><a><i class="material-icons left">exit_to_app</i> Salir</a></li>
        </ul>
        <!--Persona-->
        <ul id="dropdown_people" class="dropdown-content">
            <li><a asp-area="" asp-controller="ComPersona" asp-action="Index" asp-route-user="@ViewData["idUser"]"><i class="material-icons left">person</i> Persona</a></li>
        </ul>
        <nav>
            <div class="nav-wrapper teal lighten-2">
                <a asp-area="" asp-controller="Home" asp-action="About" asp-route-user="@ViewData["idUser"]" class="brand-logo">CREDIMAR</a>
                @if (ViewData["usName"] != null)
                {
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown_people"><i class="material-icons left">person</i> Persona <i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown_account"><i class="material-icons left">person</i> @ViewData["usName"] <i class="material-icons right">arrow_drop_down</i></a></li>
                    </ul>
                }
            </div>
        </nav>
        <!--MENU END-->

        <div class="content">
            @RenderBody()
        </div>

        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/materialize/js/materialize.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
        </environment>
        <environment exclude="Development">
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        <script>
            var collapsibleElem = document.querySelector('.collapsible');
 
            $(function () {
                $(".dropdown-trigger").dropdown();
                $('.sidenav').sidenav();
            })
        </script>

        <script>
            $('.dropdown-content').dropdown({
                inDuratio: 300,
                outDuratio: 225,
                constrainWidth: true,
                coverTrigger: false,
                hover: true,
            })
        </script>

        @RenderSection("Scripts", required: false)
    </body>
</html>